@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body,
html {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p,
a,
span {
  font-family: 'Roboto', sans-serif
}
