.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
